/*-----------------------------------------------------------------------------------*/
/*	Integrate fonts
/*-----------------------------------------------------------------------------------*/
/** By default, use the local font and then fallback to web font. **/
body {
  font-family: 'Segoe UI Local', 'Segoe UI Web (West European)';
}

/** In Chrome we can't use the semilight weight of the local web font. Use web fonts instead. **/
body:not(*:root) {
  font-family: 'Segoe UI Web (West European)';
  
}

@font-face {
  font-family: 'Segoe UI Local';
  src: local('Segoe UI Light');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Local';
  src: local('Segoe UI Semilight');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Local';
  src: local('Segoe UI');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Local';
  src: local('Segoe UI Semibold');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Web (West European)';
  src: url('fonts/segoeui-light.woff2') format('woff2'), url('fonts/segoeui-light.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Web (West European)';
  src: url('fonts/segoeui-semilight.woff2') format('woff2'), url('fonts/segoeui-semilight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Web (West European)';
  src: url('fonts/segoeui-regular.woff2') format('woff2'), url('fonts/segoeui-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Web (West European)';
  src: url('fonts/segoeui-semibold.woff2') format('woff2'), url('fonts/segoeui-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/*-----------------------------------------------------------------------------------*/
/*	Header Top 
/*-----------------------------------------------------------------------------------*/
body {
  background: #dde5ed;
}
.navbar {
  padding: 19px 10px 19px 10px;
  margin: 15px 0 4px 0;
  background: #fff !important;
  border-top-left-radius: 7px;
  -webkit-border-top-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  border-top-right-radius: 7px;
  -webkit-border-top-right-radius: 7px;
  -moz-border-radius-topright: 7px;
}
.navbar .btn-link {
  color: #3c8bf4;
}
.navbar .btn-link:hover {
  background: #eef2f6;
  color: #3c8bf4;
}
.navbar .btn-link:active {
  background: #d7dfe7;
}
.navbar-brand {
  padding-top: 0;
}
.navbar-custom .nav-item {
  padding-left: 15px;
  padding-right: 15px;
}
.navbar-custom .nav-item .nav-link  {
  color: #aeb5bd;
  font-weight: 600;
  font-size: 14px;
}
.navbar-custom .nav-item .nav-link:hover {
  color: #3c8bf4;
}
.navbar-custom .nav-item.active .nav-link {
  color: #3c8bf4;
  font-weight: 600;
}
.alerts-custom .dropdown-toggle::after {
  display: none;
}
.alerts-custom .badge-counter {
  position: relative;
  -webkit-transform: scale(.7);
  transform: scale(.7);
  -webkit-transform-origin: top right;
  transform-origin: top right;
  padding: 7px 8px 6px 9px;
  background: #f15353;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  right: 21px;
  bottom: 7px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  letter-spacing: 1px;
  box-shadow: 0 1px 4px #f38b8b;
  -moz-box-shadow: 0 1px 4px #f38b8b;
  -webkit-box-shadow: 0 1px 4px #f38b8b;
  z-index: 10;
}
.alerts-custom #alertsDropdown {
  width: 35px;
  padding: 0;
  padding-top: 10px;
}
.alerts-custom #alertsDropdown i {
  font-size: 18px;
  color: #88afe2;
}
.alerts-custom .notifications-span {
  font-size: 14px;
  font-weight: 600;
  color: #acaeb2;
  position: relative;
  right: 35px;
  bottom: 1px;
}
.alerts-custom .dropdown-list-custom {
  margin-top: 22px;
}
.dropdown-item {
  white-space: normal;
}
.settings-custom .dropdown-toggle {
  position: relative;
}
.settings-custom .dropdown-toggle::after {
  display: none;
}
.settings-custom .dropdown-toggle i {
  font-size: 18px;
  color: #b8bac0;
}
.settings-custom span {
  font-size: 14px;
  font-weight: 600;
  color: #acaeb2;
  position: relative;
  left: 3px;
  bottom: 1px;
}
.profile-custom .dropdown-toggle {
  padding: 0;
  padding-top: 3px;
}
.profile-custom .dropdown-toggle .img-profile {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=79)";
  filter: alpha(opacity=79);
  -moz-opacity:0.79;
  -khtml-opacity: 0.79;
  opacity: 0.79;
}
.profile-custom .dropdown-toggle i {
  font-size: 12px;
  font-weight: 700;
  color: #97999d;
  top: 2px;
  position: relative;
}
.profile-custom .dropdown-toggle:hover i {
  color: #57595c;
}
.profile-custom .dropdown-toggle span {
  color: #97999d;
  margin-right: 10px;
  position: relative;
  margin-left: 6px;
  font-weight: 600;
  font-size: 13px;
  top: 2px;
}
.profile-custom .dropdown-toggle::after {
  display: none;
}
.profile-personal-info {
  padding: 9px 17px 17px 17px;
  overflow: hidden;
}
.profile-personal-info img {
  float: left;
  margin-right: 16px;
  width: 50px;
}
.profile-personal-info div {
  float: left;
  margin-top: 8px;
}
.profile-personal-info p {
  margin: 0;
}
.profile-custom .dropdown-menu {
  width: 250px;
  border: 1px solid #dde5ed;
  box-shadow: 0 1px 5px rgba(221, 229, 237, .3);
  -moz-box-shadow: 0 1px 5px rgba(221, 229, 237, .3);
  -webkit-box-shadow: 0 1px 5px rgba(221, 229, 237, .3);
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  margin-top: 22px;
}
.profile-personal-info .personal-name {
  color: #5c5e61;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
}
.profile-personal-info .personal-email {
  color: #acb0b5;
  font-size: 13px;
}
.profile-custom .dropdown-menu .dropdown-item {
  font-size: 14px;
  color: #5c5e61;
  padding: 6px 0 6px 18px;
}
.profile-custom .dropdown-menu .dropdown-item:hover {
  background: #f8fafb;
}
.profile-custom .dropdown-menu .dropdown-item:active {
  background: #f8fafb;
}
.profile-custom .dropdown-menu .dropdown-divider {
  border-top: 1px solid #eff3f7;
}


@-webkit-keyframes growIn {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes growIn {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.animated--grow-in, .sidebar .nav-item .collapse {
  -webkit-animation-name: growIn;
  animation-name: growIn;
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;
  -webkit-animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
  animation-timing-function: transform cubic-bezier(0.18, 1.25, 0.4, 1), opacity cubic-bezier(0, 1, 0.4, 1);
}

.sidebar-and-content-area {
  height: 100vh;
  height: calc(100vh - 97px);
}
/*-----------------------------------------------------------------------------------*/
/*	Left Sidebar 
/*-----------------------------------------------------------------------------------*/
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.sidebar-wrapper,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.sidebar-custom {
  margin-bottom: 15px;
  margin-right: 4px;
}
.sidebar-submenu-2 ul li .submenu-item {
  padding: 5px 24px 5px 52px !important;
  height: 40px;
  line-height: 30px;
}

/*----------------toggeled sidebar----------------*/
.sidebar-custom.toggled .sidebar-wrapper {
  left: 0px;
  border-bottom-left-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-bottomleft: 7px;
  
}
/*----------------show sidebar button----------------*/
#show-sidebar {
  position: fixed;
  left: 0;
  top: 10px;
  border-radius: 0 4px 4px 0px;
  -moz-border-radius: 0 4px 4px 0px;
  -webkit-border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
  background: rgba(60, 139, 244, 0.6);
  border: none;
  font-size: 12px;
  padding: 7px 0;
  z-index: 100;
}
#show-sidebar:hover {
  background: rgba(60, 139, 244, 1);
}
#show-sidebar:active {
  outline: none;
  border: none;
}
.sidebar-custom.toggled #show-sidebar {
  left: -40px;
}
/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
  height: 100%;
  max-height: 100%;
  position: relative;
  top: 0;
  left: -350px;
  z-index: 999;
  width: 250px;
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-wrapper a {
  text-decoration: none;
}

.sidebar-wrapper .sidebar-header-close {
  padding: 10px 20px;
}

.sidebar-wrapper .sidebar-header-close a {
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;
}

.sidebar-wrapper .sidebar-header-close #close-sidebar {
  cursor: pointer;
  font-size: 20px;
}


/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
  padding-top: 10px !important;
}

.sidebar-wrapper .sidebar-menu ul li .menu-item {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 11px 24px 12px 24px;
}
.sidebar-wrapper .sidebar-menu ul li .submenu-item {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 5px 24px 5px 24px;
}
.sidebar-wrapper .sidebar-menu ul li a i {
  margin-right: 10px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #cfd6dd;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown-2 > .active-item-2:after, 
.sidebar-wrapper .sidebar-menu .sidebar-dropdown > .active-item:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f107";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  position: relative;
  top: 14px;
  color: #d1d5d9;
  font-size: 12px;
  float: right;
  top: 3px;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown-2 > .active-item-2:after {
  top: 6px;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 4px;
  background: #eef2f6;
  color: #3c8bf4;
  font-size: 11px;
  font-weight: 600;
  padding: 7px 11px 5px 10px;
  border-radius: 11px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  font-family: "Roboto", sans-serif;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}
.sidebar-wrapper .sidebar-menu .sidebar-submenu-2 {
  display: none;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > .active-item:after
{
  transform: rotate(180deg);
 
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown-2.active > .active-item-2:after {
  transform: rotate(180deg);
}
/*---------------------- scroll bar -------------------------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #babfc6;
  border: 0px none #ffffff;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #babfc6;
}
::-webkit-scrollbar-thumb:active {
  background: #babfc6;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


/*------------------------------------------------------------------------------*/

.sidebar-custom .sidebar-wrapper {
  background: #fff;
/*  height: 600px; */
  overflow-y: auto;
}
.sidebar-custom .sidebar-wrapper .sidebar-menu {
}
.sidebar-custom .sidebar-wrapper .sidebar-menu ul li a {
    color: #57595c;
    font-size: 14px;
    font-weight: 600;
}
.sidebar-custom .sidebar-wrapper .sidebar-menu ul li a:hover {
    background: #eef2f6;
} 
.sidebar-custom .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a {
    color: #fff;
}
.sidebar-custom.toggled #close-sidebar {
    color: #57595c;
    text-align: right;
}
.sidebar-custom.toggled #close-sidebar:hover {
    color: #57595c;
}
.sidebar-custom .sidebar-wrapper .sidebar-menu .sidebar-dropdown-2.active .active-item-2 {
   background: #eef2f6;
}
.sidebar-custom .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active .active-item {
    background: #3c8bf4;
}

/*-----------------------------------------------------------------------------------*/
/*	Main Content 
/*-----------------------------------------------------------------------------------*/
.main-content {
  background: #fff;
  margin-bottom: 15px;
  border-bottom-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
/*  height: 600px; */
  overflow-y: auto;
}
/*---------------------- Filter select part -------------------------------------*/
.filter-area-custom {
  display: inline;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
}
.entries-custom {
  min-width: 117px;
}
.list-custom {
  min-width: 117px;
}
.grade-custom {
  min-width: 117px;
}
.starred-custom {
  min-width: 117px;
}
.filter-select-custom {
  margin-right: 4px;
  margin-bottom: 6px;
}
.filter-select-custom button {
  background: #f6f9fb;
  padding: 7px 16px 8px 17px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.filter-select-custom button:focus,
.filter-select-custom button:active {
  outline: none;
  box-shadow: none;
}
.filter-select-custom .dropdown-menu li a {
  display: block;
  padding: 6px 17px 7px 17px;
  clear: both;
  white-space: nowrap;
  color: #55585c;
  font-size: 14px;
  font-weight: 600;
}
.filter-select-custom .dropdown-menu li p {
  margin-bottom: 0;
  padding: 1px 16px 2px 17px;
  font-size: 14px;
  color: #b8bdc0;
}
.filter-select-custom .dropdown-menu li a:hover {
  color: #3c8bf4;
  text-decoration: none;
}
#entries-selected, #list-selected, #grade-selected, #starred-selected {
  float: left;
  font-size: 14px;
  color: #818489;
  font-weight: 600;
}
.filter-select-custom .dropdown-toggle::after {
  display: none;
}

.filter-select-custom button i {
  float: right;
  font-size: 12px;
  color: #3c8bf4;
  top: 6px;
  position: relative;
  padding-left: 15px;
}
.filter-select-custom .dropdown-menu {
  background: #f6f9fb;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: none;
  margin-top: 2px;
}
.filter-select-custom .dropdown-menu .dropdown-divider {
  border-top: 1px solid #eaeef0;
  margin: 7px 0;
}

/*---------------------- Search area -------------------------------------*/
.form-search-custom {
  display: flex;
}
.form-search-custom .form-control {
  background: #f6f9fb;
  border: none;
  width: 225px;
  color: #505458;
  border-radius: 90px;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  padding-left: 20px;
  padding-right: 65px;
  position: relative;
  height: 38px;
  line-height: 39px;
  font-size: 14px;
}
.form-search-custom .form-control:hover {
  background: #eff4f8 !important;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.form-search-custom .form-control:focus {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  background: #eff4f8;
}
.input-group-append {
  margin-left: 0;
}
.input-group-append {
  position: relative;
}
.input-group-append .btn {
  width: 60px;
  background: #3c8bf4;
  border: 1px solid #3c8bf4;
  box-shadow: none;
  border-radius: 90px;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  float: right;
  right: 0;
  position: absolute;
}
.input-group-append .btn:hover {
  background: #3680e3;
  border: 1px solid #3680e3;
}
.input-group-append .btn:active {
  background: #3977ca !important;
  border: 1px solid #3977ca !important;
}
.input-group-append .btn i {
  font-size: 12px;
}
.input-group-append .btn:active {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  outline: none !important;
}
.form-search-custom .form-control::placeholder {
  color: #c7cbd1;
  opacity: 1; /* Firefox */
  font-size: 15px;
 
}
.form-search-custom .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #c7cbd1;
 font-size: 15px;
 
}
.form-search-custom .form-control::-ms-input-placeholder { /* Microsoft Edge */
 color: #c7cbd1;
 font-size: 15px;
}

/*---------------------- List clients messages -------------------------------------*/
.name-col-messenger-area p {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  color: #bcbfc5;
  top: 13px;
  position: relative;
}
.outer {
  display: table;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.middle {
  display: table-cell;
  vertical-align: middle;
}
.list-messenger-item {
  background: #fff;
  height: 59px;
  vertical-align: middle;
  padding: 0 5px;
  border-bottom: 1px solid #eef2f6;
}
.list-messenger-selected {
  background: #fafbfc;
}
.profile-messenger-area img {
  float: left;
  margin-right: 10px;
}
.profile-messenger-area p {
  font-size: 13px;
  font-weight: 600;
  color: #57595c;
  margin: 0;
  line-height: 15px;
  padding-top: 6px;
}
.message-messenger-area p {
  font-size: 13px;
  color: #a8adb2;
  font-weight: 600;
  line-height: 19px;
  margin: 0;
  margin-bottom: 1px;
}
.date-messenger-area p {
  font-size: 13px;
  color: #57595c;
  font-weight: 600;
  margin: 0;
}
.date-messenger-area .time-messenger {
  font-size: 13px;
  color: #a9b1b4;
  font-weight: 600;
  position: relative;
}
.grade-list-custom {
  min-width: 109px;
  margin-bottom: 0;
}
.grade-list-custom .dropdown-menu {
  margin-top: 4px;
}
.grade-list-custom .dropdown-menu ul li a {
  font-size: 13px;
}
.grade-list-custom button {
  border-radius: 90px;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  background: #f0f4f7;
  padding: 5px 15px 6px 15px;
}
.grade-list-custom button i {
  color: #898e95;
}
#grade-list-selected {
  float: left;
  font-size: 13px;
  color: #898e95;
  font-weight: 600;
}
.actions-messenger-area ul {
  margin: 0;
  float: right;
  z-index: 20;
  position: relative;
}
.actions-messenger-area ul li {
  display: inline-block;
  float: left;
  margin-left: 11px;
}
.actions-messenger-area ul li a {
  width: 35px;
  height: 35px;
  display: block;
  position: relative;
  text-decoration: none;
  text-align: center;
  line-height: 32px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.actions-messenger-area ul li a i {
  font-size: 13px;
}
.action-favorites {
  background: #f6f8fa;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.action-favorites:hover {
  background: #edf0f2;
}
.action-favorites:active {
  background: #e3e6e8;
}
.action-favorites i {
  color: #3c8bf4;
}
.favorited {
  background: #fff3cd;
}
.favorited:hover {
  background: #fff3cd;
}
.favorited i {
  color: #ffc000;
}
.action-remove {
  background: #f6f8fa;
}
.action-remove:hover {
  background: #edf0f2;
}
.action-remove i {
  color: #3c8bf4;
}
.action-openmsg {
  background: #3c8bf4;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.action-openmsg:hover {
  background: #3378d3;
}
.action-openmsg i {
  color: #fff;
  position: relative;
}
.load-more-button {
  background: #eef2f6;
  width: 93px;
  height: 34px;
  font-size: 12px;
  font-weight: 600;
  color: #989ca1;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 45px;
  margin-bottom: 30px;
  padding-top: 7px;
}
.load-more-button:hover {
  background: #e7edf2;
  color: #989ca1;
}
.load-more-button:focus { 
  box-shadow: none;
}
.load-more-button:active {
  background: #dce0e5;
  color: #989ca1;
  box-shadow: none;
}

/*---------------------- Pagination -------------------------------------*/
.pagination-custom .pagination {
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.pagination-custom .pagination .page-item .page-link {
  border: none;
  box-shadow: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  padding: 8px 13px;
  font-size: 13px;
  margin: 0 1px;
  color: #7f8997;
}
.pagination-custom .pagination .page-item .page-link:hover {
  background: #eef2f6;
}
.pagination-custom .pagination .page-item.active .page-link {
  background: #3c8bf4;
  color: #fff;
}
/*---------------------- Pagination -------------------------------------*/


/*---------------------- Chat -------------------------------------------*/
.chat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  right: 50px;  
  width: 308px;
  height: 500px;
  border-radius: 7px 7px 14px 7px;
  background-color: white;
  -webkit-box-shadow: 0 4px 16px rgba(110, 110, 110, 0.09);
          box-shadow: 0 4px 16px rgba(110, 110, 110, 0.09);
  z-index: 99;
}

.chat-header {  
  display: -webkit-box;  
  display: -ms-flexbox;  
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 38px;
  padding-left: 17.5px;
  padding-right: 10px;
  border-radius: 7px 7px 0 0;
  background-color: #3C8BF4;
}

.chat-header::before {
  content: "";
  position: absolute;
  right: -12px;
  top: 13px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent transparent #3C8BF4;
}

.chat-header p {
  margin: 0;
  color: white;
  font-size: 12.9px;
  font-family: 'Segoe UI';
  font-weight: 500;
}

.chat-header button {
  border: none;
  width: 23px;
  height: 23px;
  color: white;
  font-size: 12px;
  border-radius: 11px;
  background-color: #4691F5;
}

.chat-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0 0 14px 7px;
  border: 1px solid #ECF0F4;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.chat-message-area {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: white;
  padding: 0 12px 36px 17px;
  overflow-y: scroll;
}

.chat-message-area::-webkit-scrollbar {
  padding-right: 2px;
  width: 4px;
  height: 300px;
}

.chat-message-area::-webkit-scrollbar-thumb {
  background-color: #DDE2E7;
  border-radius: 2px;
}

.chat-bubble {
  margin: 11.2px 0 2px;
}

.chat-bubble .user {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 30px;
  padding-right: 30px;
}

.chat-bubble .user a,
.chat-bubble .user span {
  margin-top: 6.5px;
  margin-right: 6px;
  font-size: 12.9px;
  font-weight: 500;
}

.chat-bubble .user .username {
  height: 19px;
  line-height: inherit;
  font-weight: 600;
  color: #57595C;
}

.chat-bubble .user .timestamp {
  color: #B9C1CD;
}

.chat-bubble .user img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

.chat-bubble .message {
  margin-top: 6.6px;
  padding: 19px 20px;
  border-radius: 16px 0 16px 16px;
  color: #5A5B5D;
  background-color: #F2F5F8;
}

.chat-bubble.left .user {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 37px;
  padding-right: 0;
}

.chat-bubble.left .user img {
  position: absolute;
  right: auto;
  left: 0;
}

.chat-bubble.left .message {
  border-radius: 0 16px 16px 16px;
  color: white;
  background-color: #3C8BF4;
}

.chat-textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 46px;
  margin: 10px 16px 16px 17px;
  border-radius: 23px;
  border: 1px solid #ECF0F4;
}

.chat-textarea textarea {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 20px;
  padding-top: 11px;
  border: none;
  font-size: 12.9px;
  resize: none;
  overflow: hidden;
}

.chat-textarea textarea:focus {
  outline: none;
}

.chat-textarea .fa-paperclip,
.chat-textarea .fa-smile {
  font-size: 14px;
  color: #C7CDD3;
}

.chat-textarea .btn-send {
  width: 38px;
  height: 38px;
  margin: 3px 3px 0 10px;
  padding: 0 2px 0 0;
  border-radius: 19px;
  background-color: #3C8BF4;
}

.chat-textarea .btn-send i {
  color: white;
}

/*---------------------- Chat -------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/*	Responsive max-width
/*-----------------------------------------------------------------------------------*/
@media (max-width: 1200px) {
  .navbar-custom .nav-item { padding-left: 10px; padding-right: 10px;}
  .list-messenger-item {height: 100%; padding: 15px 0;}
  .date-messenger-area p {float: left; margin-right: 10px;}
  .message-messenger-area {padding: 15px 0 5px 0;}
  .grade-messenger-area { position: relative; top: 35px; z-index: 20; }
}
@media (max-width: 991px) {
  .navbar-collapse {}
  .navbar .btn-link { margin-right: 5px; }
  .alerts-custom #alertsDropdown {width: 100%; padding-left: 8px; }
  .settings-custom a {padding-left: 7px !important;}
  .navbar-custom .nav-item { padding-left: 0px; padding-right: 0px;}
  .entries-custom, .list-custom, .grade-custom, .starred-custom { width: 100%; }
  .filter-select-custom .dropdown-menu {width: 100%; }
  .form-search-custom .form-control { width: 100%; }
  .space-1 {height: 15px; overflow: hidden;}
}
@media (max-width: 768px) {
  .entries-custom, .list-custom, .grade-custom, .starred-custom {width: 100%; margin-right: 0;}
}
@media (max-width: 640px) {
  .sidebar-wrapper {position: absolute; width: 100%; left: -650px;}
  .sidebar-custom {margin-right: 0; }
  .sidebar-wrapper .sidebar-header-close {display: block;}
  .sidebar-custom .sidebar-wrapper { height: 100%; display: table; }
}
@media (max-width: 576px) {
  .navbar-brand img { width: 197px; }
}

/*-----------------------------------------------------------------------------------*/
/*	Responsive min-width
/*-----------------------------------------------------------------------------------*/
@media (min-width: 1200px) {
  .col-profile-personalized { flex: 0 0 15.666667%; max-width: 15.666667%; }
  .col-message-personalized { flex: 0 0 27.333333%; max-width: 27.333333%; }
  .col-date-personalized { flex: 0 0 8.333333%; max-width: 8.333333%; }
  .col-grade-personalized { flex: 0 0 13.666667%; max-width: 13.666667%; }
  .col-actions-personalized { flex: 0 0 35%; max-width: 35%; }
}
@media (min-width: 991px) {
  .settings-custom { margin-right: 22px; margin-left: 3px;}
  .settings-custom a { padding-left: 0px !important; padding-right: 0 !important; }
  .settings-custom .dropdown-toggle {top: 2px;}
}
@media (min-width: 768px) {
  .sidebar-custom.toggled .page-content { padding-left: 300px; }
}
@media (min-width: 640px) {
  .sidebar-wrapper .sidebar-header-close {display: none;}
}
@media (min-width: 576px) {
  .alerts-custom .dropdown-list-custom {width: 500px !important; }
}










